GCP_PROJECT_ID=tu-proyecto-id
GCS_BUCKET=mci506-crypto-bronze-tu-proyecto-id
BIGQUERY_DATASET_EXTERNAL=crypto
BIGQUERY_DATASET_SILVER=crypto_silver
BIGQUERY_DATASET_GOLD=crypto_gold
COINGECKO_API_KEY=tu-demo-api-key
GOOGLE_APPLICATION_CREDENTIALS=./sa-key.json
